.footer {
  margin-top: 50vh;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contactContainer a {
  color: #757575;
  text-decoration: none;
}
