.footer {
  margin-top: 380px;
  color: rgb(17, 57, 70, 0.7);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contactContainer a {
  color: rgb(17, 57, 70, 0.7);
  text-decoration: none;
}

.contactContainer a:hover {
  color: rgb(188, 163, 127);
}
