.footer {
  position: fixed;
  bottom: 25px;
  color: rgb(17, 57, 70);
}
.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.contactContainer a {
  color: rgb(17, 57, 70);
  text-decoration: none;
}

.contactContainer a:hover {
  color: #fc5185;
}
