.aboutMe {
  max-width: 599px;
  box-shadow: 0px 3px 12px -1px rgba(38, 38, 38, 0.74);
  -webkit-box-shadow: 0px 3px 12px -1px rgba(38, 38, 38, 0.74);
  -moz-box-shadow: 0px 3px 12px -1px rgba(38, 38, 38, 0.74);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.photo {
  max-width: 400px;
  object-fit: contain;
  border-radius: 5px;
}

.dataWrapper {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 5px 0;
}

.addressText {
  font-size: 17px;
  font-weight: 500;
}

.addressData,
.skillsWrapper,
.languageInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
  margin-bottom: 5px;
}

.skillsWrapper,
.languageInfo {
  border-top: 1px solid rgba(17, 57, 70, 0.286);
}

.addressData {
  font-size: 15px;
  font-weight: 500;
}

.addressData a {
  text-decoration: none;
  color: rgb(17, 57, 70);
}

.addressData a:hover {
  color: #fc5185;
}

.skillsWrapper {
  display: flex;
  flex-direction: column;
}

.skillsList {
  font-size: 17px;
  list-style-type: disc;
  line-height: 1.5;
}

.skillsList li {
  margin-left: 15px;
}

.levelWrapper {
  max-width: 500;
  height: 18px;
  background-color: rgba(228, 228, 228, 0.935);
  border-radius: 16px;
  margin-top: 5px;
}

.level {
  height: 20px;
  background-color: rgb(63, 193, 201);
  border-radius: 16px;
  color: rgba(255, 255, 255, 0.855);
  font-style: italic;
  font-size: 15px;
  padding: 0 10px;
  line-height: 20px;
}

.levelEng {
  max-width: 80%;
}

.levelGe {
  width: 65%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 600px) {
  .aboutMe {
    min-width: 80%;
  }
}
/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 992px) {
  .aboutMe {
    min-width: 300px;
    max-width: 300px;
    margin: 20px 8px 20px 300px;
    border-radius: 5px;
    gap: 10px;
    transition: transform 1s;
    padding: 10px;
    justify-content: flex-start;
  }

  .aboutMe:hover {
    transform: scale(1.01) rotateZ(-0.5deg);
  }

  .photo {
    max-width: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .dataWrapper {
    gap: 10px;
    font-size: 17px;
  }

  .title {
    font-size: 20px;
    gap: 22px;
    align-items: center;
  }

  .addressText {
    font-size: 15px;
  }

  .addressData {
    font-size: 17px;
  }

  .skillsList {
    margin: 10px 0 10px 5px;
  }

  .levelWrapper {
    width: 300px;
  }
}

/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 1200px) {
  .aboutMe {
    min-width: 400px;
    border-radius: 5px;
    padding: 0;
  }

  .photo {
    min-width: 400px;
  }

  .dataWrapper {
    padding: 0px 20px;
  }

  .title {
    margin: 5px 0 0 0;
  }

  .addressData {
    font-size: 17px;
  }

  .levelWrapper {
    width: 360px;
  }

  .levelEng {
    width: 260px;
  }

  .levelGe {
    width: 200px;
  }
}
