.homePage {
  max-width: 1600px;
  height: auto;
  background-color: rgb(54, 79, 107);
}

.homeSection {
  height: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: start;
  margin-left: 300px;
}

@media screen and (min-width: 992px) {
}
