.homePage {
  width: auto;
  height: auto;
  background-color: rgb(54, 79, 107);
}

.homeSection {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 992px) {
  .homePage {
    max-width: auto;
  }

  .homeSection {
    height: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: start;
    margin-left: 300px;
  }
}
