.contact {
  width: 100%;
  background-color: rgb(54, 79, 107);
}

.contactSection {
  color: rgb(245, 245, 245);
  font-size: 16px;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contactBox {
  min-height: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(63, 193, 201);
}

.mailContactBox a {
  text-decoration: none;
  color: rgb(54, 79, 107);
  margin-top: 20px;
  font-weight: 500;
}

.mailContactBox a:hover {
  color: #fc5185;
}

.contactBox:last-of-type {
  background-color: rgb(252, 81, 133);
}

.contactTitle {
  font-size: 30px;
  font-weight: 600;
  margin: 40px 0 20px 0;
}

.contactText {
  margin-top: 10px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 600px) {
  .contact {
    height: 100vh;
  }

  .contactSection {
    height: calc(100vh - 50px);
    font-size: 20px;
  }

  .contactHeader {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    background-image: url(../../assets/image/contact-backphoto.png);
    background-position: 50% 80%;
  }

  .infoWrapper {
    height: 82%;
    display: grid;
    grid-template-columns: 34% 33% 33%;
  }

  .mailContactWrapper {
    display: flex;
    flex-direction: column;
  }

  .mailContactBox a {
    font-size: 15px;
  }

  .imgBox {
    background-image: url(../../assets/image/flaming.png);
    background-position: left bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(54, 79, 107);
  }

  .contactBox {
    padding: 50px 20px;
  }

  .contactText {
    margin-top: 10px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 992px) {
  .contact {
    max-width: 1600px;
    height: 100vh;
  }

  .contactSection {
    margin-left: 300px;
    height: 100vh;
  }

  .contactHeader {
    height: 50%;
    background-position: 65% 80%;
  }

  .infoWrapper {
    width: 100%;
    height: 50%;
  }

  .contactBox {
    padding-left: 10px;
    padding: 40px 10px;
  }

  .mailContactBox a {
    font-size: 16px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 1200px) {
  .contact {
    max-width: 1600px;
  }

  .contactHeader {
    background-position: 52% 75%;
  }

  .contactBox {
    padding: 100px 20px 10px 40px;
  }

  .mailContactBox a {
    font-size: 18px;
  }
}
