.navbar {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #364f6b;
  background-color: rgb(245, 245, 245);
  gap: 10px;
}

.titleWrapper {
  margin: 5px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}

.title {
  font-size: 15px;
  font-weight: 600;
}

.subtitle {
  font-size: 12px;
  font-weight: 200;
}

.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuItem {
  border-left: 2px solid rgb(252, 81, 133);
  padding-left: 10px;
}

.menuItem a {
  text-decoration: none;
  color: #364f6b;
  font-size: 13px;
  font-weight: 400;
}

.soundBtn {
  width: 31px;
  height: 31px;
  background-color: rgb(63, 193, 201);
  border-radius: 50%;
  font-size: 13px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 600px) {
  .titleWrapper {
    margin: 10px;
    max-width: 160px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .menu {
    gap: 20px;
  }

  .menuItem a {
    font-size: 15px;
  }

  .soundBtn {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
@media screen and (min-width: 992px) {
  .navbar {
    max-width: 300px;
    min-height: 100%;
    position: fixed;
    z-index: 21;
    justify-content: flex-start;
    flex-direction: column;
    align-content: center;
    margin-bottom: 30px;
  }

  .titleWrapper {
    margin: 10px;
    padding: 70px 0px 70px 0px;
    max-width: 150px;
    justify-content: center;
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
  }

  .subtitle {
    margin-top: 20px;
    font-size: 18px;
  }

  .menu {
    flex-direction: column;
    align-content: center;
    gap: 0;
  }

  .menuItem {
    width: 300px;
    display: flex;
    border-left: none;
    padding: 0;
  }

  .menuItem a {
    width: 100%;
    padding: 10px 0;
    color: #364f6b;
    font-size: 16px;
    text-align: center;
    justify-self: center;
  }

  .menuItem a:hover {
    width: 300px;
    background-color: rgb(252, 81, 133);
    color: white;
  }

  .soundBtn {
    width: 45px;
    height: 45px;
    font-size: 25px;
    position: fixed;
    bottom: 40px;
  }
}
