.projectsWrapper {
  max-width: 433px;
  max-height: 520px;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0.8;
}

.projectsWrapper:hover {
  opacity: 1;
}

.infoWrapper {
  padding: 16px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.projectInfo a {
  color: rgb(63, 193, 201);
  cursor: pointer;
  position: relative;
  z-index: 21;
}

.projectInfo a:hover {
  color: rgb(252, 81, 133);
}

a .projectPhoto {
  width: 100%;
  max-height: 520px;
  filter: grayscale(65%);
  object-fit: cover;
  object-position: 100% 0%;
  transition: transform 1.5s;
}

a .projectPhoto:hover {
  filter: none;
  transform: scale(1.05);
  position: relative;
  z-index: 21;
}

.gitHubLogo i {
  transition: transform 1.5s;
}
