html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(54, 79, 107);
  color: rgb(17, 57, 70);
}

.pageContainer {
  max-width: 1600px;
  height: auto;
  margin: 0 auto;
}
